@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 139 80% 44%;
    --primary-foreground: 140 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 139 80% 44%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 18% 11%;
    --foreground: 210 40% 98%;
    --card: 216 16% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 220 18% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 139 80% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 16% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 16% 16%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 216 16% 16%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 16% 16%;
    --input: 216 16% 16%;
    --ring: 139 80% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}